{% extends "index.html" %}
{% block content %}
<div class="panel-group">
  <div class="panel panel-info">
    <div class="panel-heading">
        <h1>About this application...</h1>
    </div>
      <div class="panel-body">
          <p class="lead" style="word-wrap: break-word;"> This application has been developed for educational purposes. The main purpose of this application is to generate a tool that will identify gen patterns for phenotyping recognition.</p>
        <p style="word-wrap: break-word;">This project belongs to the asignments defined on <code>PF5022 - Programación</code>  </p>
        <p>Team:
            <ul>
                <li>Paola Calderón Gómez - Software Developer </li>
                <li>Gabriela Chaves - Oncologist </li>
                <li>Carlos Solano Matamoros - Microbiologist </li>
            </ul>
        </p>
          <p><code>Version: 1.0</code></p>
    </div>
  </div>
</div>
{% endblock %}