{% extends "index.html" %}
{% block content %}

<div class="panel-group">
  <div class="panel panel-info">
    <div class="panel-heading">
        <h1>Alignment Results</h1>
        <p class="lead">The following gen sequences were compared:</p>
        <p>Gen A:<br><code class="text-uppercase" style="word-wrap: break-word;">{{genA}}</code> </p>
        <p>Gen B:<br><code class="text-uppercase" style="word-wrap: break-word;">{{genB}}</code> </p>
    </div>
      <div class="panel-body">
        <p class="lead">{{result[0]}}</p>
          {% for i in range(1,sizel) %}
                    <p><code class="text-uppercase" style="word-wrap: break-word;">{{result[i]}}</code> </p>
          {% endfor %}
    </div>
  </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <a class="btn btn-primary" href="/gen/comparison">Back</a>
    </div>
</div>

{% endblock %}